[Unit]
Description=Start the Reports dancer2 program
After=network.target

[Service]
Type=simple
User=jason
Group=www-data

# create /var/run/Reports
# for systemd pre v211
#PermissionsStartOnly=true
#ExecStartPre=-/bin/mkdir -p /var/run/Reports
#ExecStartPre=/bin/chown -R jason:jason /var/run/Reports/
# on systemd post v211
UMask=0002
RuntimeDirectory=Reports

WorkingDirectory=/home/jason/projects/Reports
Environment="DANCER_ENVIRONMENT=production" "PERLBREW_ROOT=/home/jason/perl5/perlbrew" "PERLBREW_HOME=/home/jason/.perlbrew"
PIDFile=/var/run/Reports/Reports.pid
ExecStartPre=${PERLBREW_ROOT}/perlbrew use 5.22.0
ExecStart=/home/jason/perl5/perlbrew/perls/perl-5.22.0/bin/plackup -E deployment -s Starman --workers=2 --listen /var/run/Reports/Reports.sock --pid /var/run/Reports/Reports.pid /home/jason/projects/Reports/bin/app.psgi

[Install]
WantedBy=multi-user.target
